Host *
  IdentityFile D:\Software\MSYS2\home\Administrator\.ssh\id_ed25519
  UserKnownHostsFile D:\Software\MSYS2\home\Administrator\.ssh\known_hosts
  #StrictHostKeyChecking no

Host ARCH-C
  HostName 192.168.1.10
  User vscode
  Port 2222

Host ARCH-RUST
  HostName 192.168.1.10
  User vscode
  Port 3333

Host NAS-RUST
  HostName 192.168.1.20
  User vscode
  Port 3333

Host MIDO-C
  HostName 192.168.2.200
  User vscode
  Port 2222

Host MIDO-RUST
  HostName 192.168.2.200
  User vscode
  Port 3333

Host Docs
  HostName 192.168.246.68
  User root
