Host *
  IdentityFile D:\Software\MSYS2\home\Administrator\.ssh\id_ed25519
  UserKnownHostsFile D:\Software\MSYS2\home\Administrator\.ssh\known_hosts
  #StrictHostKeyChecking no

Host ARCH
  HostName 192.168.1.10
  User vscode
  Port 2222

Host MIDO
  HostName 192.168.2.200
  User vscode
  Port 2222

Host Docs
  HostName 192.168.246.68
  User root
